* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;

    background-color: rgba(114, 88, 101, 0.885);
    display: flex;
}

#part1 {
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2 {
    height: 100%;
    width: 67%;
    background-color: rgb(87, 37, 153);
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-position: center;

}

#overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(161, 145, 149, 0.5);
}

#part3 {
    height: 100%;
    width: 7%;
    /* background-color: rgb(75, 179, 49); */
}

#text-div {
    /* height: 300px; */
    width: 400px;
    position: absolute;
    /* background-color: red; */
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div>h1 {
    font-size: 95px;
    font-family: monument;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 78px;
    color: #fff;
    text-transform: uppercase;
}

#small-img-div {
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url('https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

#overlay-in {
    height: 100%;
    width: 100%;
    background-color: rgba(161, 145, 149, 0.5);
}

#vertical-text {
    position: absolute;
    right: -50%;
    top: -7%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1 {
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    letter-spacing: 10px;

    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;

}

#nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    top: 5%;
    left: 7%
        /* background-color: red; */

}

#nav img {
    height: 60px;
}

#nav h5 {
    font-size: 20px;
    color: #fff;
    font-family: gilroy;
}